# exportPattern("^[[:alpha:]]+")
export(efftox_solve_p)
export(efftox_parameters_demo)
export(efftox_utility)
export(efftox_process)
export(efftox_analysis_to_df)
export(efftox_simulate)
export(efftox_get_tox)
export(efftox_contour_plot)
export(efftox_utility_density_plot)
export(efftox_superiority)
export(efftox_parse_outcomes)
export(efftox_dtps)
export(peps2_get_data)
export(peps2_process)
export(peps2_run_sims)
export(stan_files)
export(stanmodels)
export(thallhierarchicalbinary_parameters_demo)
export(ranBin2)

useDynLib(trialr, .registration = TRUE)

import(Rcpp)
import(methods)
import(rstantools)
